/* Form.css */
.form-container {
    background-color: #2c3e50; /* Color azul oscuro */
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3), 0 6px 20px rgba(0, 0, 0, 0.2);
    padding: 3rem; /* Aumentar el padding para hacer el cuerpo más grande */
    transition: all 0.3s ease-in-out;
    color: #f1c40f; /* Color del texto amarillo */
    width: 400px; /* Aumentar el ancho del formulario */
    margin-top: 20px; /* Espacio desde la parte superior */
}

.form-container:hover {
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.4), 0 12px 40px rgba(0, 0, 0, 0.3);
    transform: scale(1.02);
}

.btn-primary {
    background-color: #e74c3c; /* Rojo brillante */
    border: none;
    border-radius: 5px;
    padding: 12px 24px; /* Aumentar el padding del botón */
    font-size: 1.1rem; /* Aumentar el tamaño de fuente del botón */
    transition: background-color 0.3s ease;
}

.btn-primary:hover {
    background-color: #c0392b; /* Rojo más oscuro */
}

.form-control {
    background-color: #34495e; /* Azul grisáceo oscuro */
    border: 1px solid #16a085; /* Verde turquesa */
    color: #f1c40f; /* Texto amarillo */
    border-radius: 5px;
    height: 50px; /* Aumentar la altura de los inputs */
}

.form-control:focus {
    background-color: #1abc9c; /* Verde aguamarina al enfocar */
    border-color: #16a085;
    box-shadow: 0 0 0 0.2rem rgba(26, 188, 156, 0.25);
    color: #f1c40f;
}

h1 {
    color: #f1c40f; /* Título amarillo */
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 1.5rem; /* Aumentar el tamaño del título */
}
